body {
  margin:0px;
  background-image:url('../../images/图标页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:678px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:324px;
  top:74px;
  width:354px;
  height:622px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u2 {
  position:absolute;
  left:2px;
  top:303px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:9px;
  top:571px;
  width:50px;
  height:50px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u4 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:289px;
  top:571px;
  width:50px;
  height:50px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u6 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:220px;
  top:571px;
  width:50px;
  height:50px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u8 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:80px;
  top:571px;
  width:50px;
  height:50px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u10 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:80px;
  width:354px;
  height:390px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:390px;
}
#u12 {
  position:absolute;
  left:2px;
  top:187px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:20px;
  width:250px;
  height:50px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:17px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:158px;
  top:33px;
  width:55px;
  height:23px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:23px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u17 {
  position:absolute;
  left:9px;
  top:36px;
  width:57px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:19px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:0px;
  top:33px;
  width:90px;
  height:30px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u22 {
  position:absolute;
  left:2px;
  top:303px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:30px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:580px;
  width:350px;
  height:42px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:42px;
}
#u26 {
  position:absolute;
  left:2px;
  top:13px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:110px;
  top:20px;
  width:150px;
  height:50px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:149px;
  top:38px;
  width:65px;
  height:21px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:21px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:0px;
  top:80px;
  width:70px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:7px;
  top:84px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:4px;
  top:211px;
  width:70px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:11px;
  top:215px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u39 {
  position:absolute;
  left:4px;
  top:290px;
  width:70px;
  height:30px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:11px;
  top:294px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:0px;
  top:370px;
  width:70px;
  height:30px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:7px;
  top:374px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:0px;
  top:465px;
  width:70px;
  height:30px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:7px;
  top:469px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u52 {
  position:absolute;
  left:2px;
  top:303px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:20px;
  width:50px;
  height:42px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u54 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:590px;
  width:354px;
  height:30px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:30px;
}
#u56 {
  position:absolute;
  left:2px;
  top:7px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u58 {
  position:absolute;
  left:2px;
  top:303px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:30px;
  width:40px;
  height:42px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:42px;
}
#u60 {
  position:absolute;
  left:2px;
  top:13px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:230px;
  top:580px;
  width:124px;
  height:42px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:42px;
}
#u62 {
  position:absolute;
  left:2px;
  top:13px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:10px;
  top:230px;
  width:110px;
  height:30px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u64 {
  position:absolute;
  left:2px;
  top:7px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:12px;
  top:237px;
  width:29px;
  height:17px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u0_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u68 {
  position:absolute;
  left:2px;
  top:303px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:20px;
  width:40px;
  height:32px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u70 {
  position:absolute;
  left:2px;
  top:8px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
