body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:599px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:30px;
  width:559px;
  height:618px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:618px;
}
#u1 {
  position:absolute;
  left:2px;
  top:301px;
  width:555px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:399px;
  top:330px;
  width:51px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
