body {
  margin:0px;
  background-image:url('../../images/图标页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:678px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:324px;
  top:74px;
  width:354px;
  height:622px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u2 {
  position:absolute;
  left:2px;
  top:303px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:180px;
  top:240px;
  width:80px;
  height:80px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u4 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u6 {
  position:absolute;
  left:2px;
  top:303px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u8 {
  position:absolute;
  left:2px;
  top:303px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u10 {
  position:absolute;
  left:2px;
  top:303px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:60px;
  top:519px;
  width:100px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:196px;
  top:518px;
  width:100px;
  height:40px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14 {
  position:absolute;
  left:2px;
  top:12px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
