body {
  margin:0px;
  background-image:url('../../images/图标页/bg.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
  position:static;
  left:auto;
  width:678px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:324px;
  top:74px;
  width:354px;
  height:622px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u2 {
  position:absolute;
  left:2px;
  top:303px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:96px;
  top:496px;
  width:154px;
  height:40px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:34px;
  width:40px;
  height:40px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u6 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u8 {
  position:absolute;
  left:2px;
  top:303px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:100px;
  top:535px;
  width:150px;
  height:33px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
}
#u10 {
  position:absolute;
  left:2px;
  top:8px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:10px;
  width:40px;
  height:40px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:622px;
}
#u14 {
  position:absolute;
  left:2px;
  top:303px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:104px;
  top:516px;
  width:146px;
  height:30px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:10px;
  width:40px;
  height:40px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u18 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
