body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:721px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:9px;
  width:671px;
  height:641px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:671px;
  height:641px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:667px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:521px;
  top:50px;
  width:89px;
  height:130px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:130px;
}
#u3 {
  position:absolute;
  left:2px;
  top:57px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:200px;
  top:500px;
  width:340px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
