body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:677px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:188px;
  top:62px;
  width:489px;
  height:442px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:489px;
  height:442px;
}
#u1 {
  position:absolute;
  left:2px;
  top:213px;
  width:485px;
  visibility:hidden;
  word-wrap:break-word;
}
