body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:450px;
  top:60px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:450px;
  top:140px;
  width:360px;
  height:160px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:160px;
}
#u3 {
  position:absolute;
  left:2px;
  top:72px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:478px;
  top:160px;
  width:40px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:532px;
  top:160px;
  width:200px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:481px;
  top:217px;
  width:40px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:531px;
  top:217px;
  width:200px;
  height:40px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:481px;
  top:279px;
  width:34px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:531px;
  top:277px;
  width:200px;
  height:40px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:498px;
  top:344px;
  width:92px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:747px;
  top:339px;
  width:23px;
  height:23px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u19 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
