body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:57px;
  top:85px;
  width:425px;
  height:345px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:345px;
}
#u1 {
  position:absolute;
  left:2px;
  top:164px;
  width:421px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:57px;
  top:28px;
  width:217px;
  height:42px;
  font-size:36px;
  color:#FF0000;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:42px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:650px;
  top:18px;
  width:145px;
  height:42px;
  font-size:36px;
  color:#FF0000;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:57px;
  top:464px;
  width:145px;
  height:42px;
  font-size:36px;
  color:#FF0000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:42px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:100px;
  top:520px;
  width:450px;
  height:700px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:700px;
}
#u9 {
  position:absolute;
  left:2px;
  top:342px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:370px;
  top:890px;
  width:370px;
  height:340px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:340px;
}
#u11 {
  position:absolute;
  left:2px;
  top:162px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:660px;
  top:990px;
  width:40px;
  height:16px;
  color:#FF0000;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:630px;
  top:80px;
  width:600px;
  height:600px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:600px;
}
#u15 {
  position:absolute;
  left:2px;
  top:292px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
