body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1929px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:10px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:450px;
  top:94px;
  width:410px;
  height:720px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:720px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:688px;
  width:360px;
  height:640px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u5 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:458px;
  top:624px;
  width:1px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:180px;
  top:40px;
  width:160px;
  height:40px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:205px;
  top:43px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:860px;
  top:10px;
  width:360px;
  height:640px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u13 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1258px;
  top:64px;
  width:301px;
  height:144px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:144px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:1569px;
  top:10px;
  width:360px;
  height:640px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u17 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:870px;
  top:688px;
  width:360px;
  height:640px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u19 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1270px;
  top:688px;
  width:360px;
  height:640px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u21 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:60px;
  top:400px;
  width:190px;
  height:30px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:76px;
  top:400px;
  width:153px;
  height:19px;
  font-size:16px;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:19px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:870px;
  top:1400px;
  width:444px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:1588px;
  top:1020px;
  width:27px;
  height:16px;
  color:#FFBA00;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:870px;
  top:768px;
  width:360px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:887px;
  top:780px;
  width:199px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:24px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:1196px;
  top:779px;
  width:23px;
  height:23px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1270px;
  top:768px;
  width:360px;
  height:50px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:50px;
}
#u37 {
  position:absolute;
  left:2px;
  top:17px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:1281px;
  top:778px;
  width:199px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:24px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u40 {
  position:absolute;
  left:1592px;
  top:778px;
  width:23px;
  height:23px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u41 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:480px;
  top:800px;
  width:360px;
  height:640px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u43 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:480px;
  top:800px;
  width:359px;
  height:76px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:76px;
}
#u45 {
  position:absolute;
  left:2px;
  top:30px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:553px;
  top:1014px;
  width:237px;
  height:128px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:128px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:601px;
  top:937px;
  width:141px;
  height:33px;
  font-size:28px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:817px;
  top:886px;
  width:8px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:553px;
  top:1158px;
  width:274px;
  height:32px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:32px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:640px;
  top:1224px;
  width:40px;
  height:16px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:646px;
  top:1260px;
  width:27px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
