body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1904px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:60px;
  width:360px;
  height:640px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u1 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:480px;
  top:70px;
  width:360px;
  height:640px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u3 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:490px;
  top:750px;
  width:240px;
  height:80px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:80px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:1290px;
  top:170px;
  width:360px;
  height:640px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u7 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:888px;
  top:230px;
  width:249px;
  height:100px;
  color:#FF0000;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:100px;
}
#u9 {
  position:absolute;
  left:2px;
  top:42px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:891px;
  top:202px;
  width:53px;
  height:16px;
  color:#FF0000;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:892px;
  top:478px;
  width:53px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:349px;
  top:151px;
  width:20px;
  height:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u15 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:130px;
  top:698px;
  width:200px;
  height:100px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:100px;
}
#u17 {
  position:absolute;
  left:2px;
  top:42px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:480px;
  top:860px;
  width:183px;
  height:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:888px;
  top:507px;
  width:211px;
  height:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:50px;
  top:330px;
  width:337px;
  height:70px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:70px;
}
#u23 {
  position:absolute;
  left:2px;
  top:27px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:70px;
  top:340px;
  width:50px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u25 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:130px;
  top:357px;
  width:131px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:375px;
  top:357px;
  width:9px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:898px;
  top:290px;
  width:92px;
  height:40px;
  color:#FF0000;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:912px;
  top:240px;
  width:178px;
  height:40px;
  color:#FF0000;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:40px;
}
#u33 {
  position:absolute;
  left:2px;
  top:12px;
  width:174px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:980px;
  top:252px;
  width:66px;
  height:16px;
  color:#FF0000;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:951px;
  top:302px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:1029px;
  top:290px;
  width:92px;
  height:40px;
  color:#FF0000;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:40px;
}
#u39 {
  position:absolute;
  left:2px;
  top:12px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:1063px;
  top:302px;
  width:27px;
  height:16px;
  color:#FF0000;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:1580px;
  top:210px;
  width:70px;
  height:30px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:1300px;
  top:210px;
  width:50px;
  height:30px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u45 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1300px;
  top:217px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:1295px;
  top:138px;
  width:105px;
  height:16px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:888px;
  top:382px;
  width:118px;
  height:16px;
  color:#FF0000;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:183px;
  top:706px;
  width:84px;
  height:84px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:84px;
}
#u53 {
  position:absolute;
  left:2px;
  top:34px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:157px;
  top:808px;
  width:141px;
  height:16px;
  font-size:28px;
  color:#FF0000;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:1453px;
  top:830px;
  width:34px;
  height:16px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u58 {
  position:absolute;
  left:1870px;
  top:830px;
  width:34px;
  height:16px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:1290px;
  top:894px;
  width:305px;
  height:80px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:80px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u62 {
  position:absolute;
  left:192px;
  top:103px;
  width:100px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:48px;
  top:139px;
  width:334px;
  height:94px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:94px;
}
#u65 {
  position:absolute;
  left:2px;
  top:39px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:53px;
  top:149px;
  width:357px;
  height:251px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:251px;
}
#u67 {
  position:absolute;
  left:2px;
  top:118px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:7px;
  top:320px;
  width:50px;
  height:100px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:100px;
}
#u69 {
  position:absolute;
  left:2px;
  top:42px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:128px;
  top:478px;
  width:200px;
  height:52px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:52px;
}
#u71 {
  position:absolute;
  left:2px;
  top:18px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
